.full-page-screenshots-main {
  padding: 0;
  margin: 0;
}

.full-page-screenshots-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.full-page-screenshot {
    display: block;
    width: 100vw;
    height: auto;
    object-fit: contain;
    object-position: top center;
}