// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.

$nihr-colour: #193E72;

@import "jdr-header-footer";
@import "full-page-screenshots";
// @import "jdr-buttons";
@import "nhs-login";
@import "nhs-login-button";
@import "phase-banner";
// Custom partials
@import "nihr-header-footer";
@import "bpor-header-footer";
// @import "bpor-header";


// Custom flex row - used on BPOR pages with button alongside input
.nhsuk-flex-row {
    display: flex;
    align-items: center;
    gap: 10px;
}