{% extends "layout-bpor-question.html" %}

{% from "input/macro.njk" import input %}
{% from "button/macro.njk" import button %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post">
        {{ input({
          label: {
            text: "What is your phone number",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter phone number"
          },
          id: "phone-number",
          name: "phoneNumber",
          type: "tel",
          classes: "nhsuk-input--width-20"
        }) }}

        {{ button({ text: "Continue" }) }}
      </form>

    </div>
  </div>

{% endblock %}