{% extends "dashboard/v1/layout.html" %}

{% block pageTitle %}
  General health survey - Be Part of Research
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">General health survey</h1>

    {{ insetText({
      text: "This feature is currently a prototype. In the live service, you would complete a short survey here to help match you with more research studies."
    }) }}

    {{ button({ text: "Return to dashboard", href: "/dashboard/v1/home", classes: "nhsuk-u-margin-bottom-0" }) }}

  </div>
</div>

{% include "dashboard/v1/partials/prototype-nav.html" %}

{% endblock %}