{% extends "layout-volunteer-jdr.html" %}

{% block beforeContent %}

<button class="nhsuk-back-link" type="submit">
  Back to: Forgot password
</button>

{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your email</h1>

      <p>If there’s an account linked to <strong>mail@mail.com</strong> you’ll receive a password reset link.</p>
      <p>The link will expire after <strong>1 hour</strong>.</p>
      <p>If you do not get an email, check your spam folder or try again.</p>
      
      <a href="/login/v1/jdr/login" role="button" draggable="false" class="nhsuk-button jdr-button-pink" data-module="nhsuk-button">
        Back to log in
      </a>

    </div>
  </div>
        
      </form>
    </div>
{% endblock %}