{% extends "study-search/v3/_layout-study-details.html" %}

{% from "pagination/macro.njk" import pagination %}
{% from "do-dont-list/macro.njk" import list %}
{% from "tables/macro.njk" import table %}
{% from "card/macro.njk" import card %}
{% from "study-search/v3/_components/study-contents-list.njk" import studyContentsList %}
{% from "_components/promo-banner/macro.njk" import promoBanner with context %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
         Contact the study team
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
            -
            </span>
         A Combined Exercise Programme Involving Strengthening, Flexibility and Aerobic Exercise for Lower Back Pain
          </span>
        </span>
      </h1>

      {{ studyContentsList("page-four") }}

      <h2>Questions to ask</h2>
      <p>Reaching out to a study team can be a daunting prospect. That’s why <a href="https://bepartofresearch.nihr.ac.uk/Take-part-in-research/What-to-expect-on-a-study/Questions-to-ask-the-study-team/">we've put together a list of questions</a> that will help you get the most from that conversation.</p>

      <h2>Who to contact</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          {{ card({
            heading: "Dr Kwee Yong",
            headingSize: "m",
            descriptionHtml: '<a href="#" class="nhsuk-link">kwee.yong@ucl.ac.uk</a>'
          }) }}
        </li>

        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          {{ card({
            heading: "Rethina Shritharan",
            headingSize: "m",
            descriptionHtml: '<a href="#" class="nhsuk-link">rethina.shritharan@nhs.net</a>'
          }) }}
        </li>

        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          {{ card({
            heading: "Anna Bote-Casamitjana",
            headingSize: "m",
            descriptionHtml: '<a href="#" class="nhsuk-link">anna.botecasamitjana@nhs.net</a>'
          }) }}
        </li>
      </ul>

      {{ promoBanner({
  text: "We’re Breast Cancer Now, the research and support charity. However you’re experiencing breast cancer, we’re here.",
  button: {
    text: "Visit website",
    href: "/https://breastcancernow.org/"
  },
  logo: {
    src: "/assets/images/cancerlogo.png",
    alt: "Breast Cancer Now"
  }
}) }}

      {{ pagination({
        previous: {
          labelText: "Location",
          href: "page-three.html"
        }
      }) }}

    </div>
  </div>
{% endblock %}