{% extends "layout-bpor.html" %}

{% block beforeContent %}

<button class="nhsuk-back-link" type="submit">
  Back to: Enter the security code
</button>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1 class="nhsuk-heading-l">I cannot log in using my mobile</h1>
      <p class="nhsuk-body">Check your device:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>is not in flight mode and has a strong signal</li>
        <li>is receiving text messages from other senders</li>
      </ul>

      <p class="nhsuk-body">If you still can’t log in, try one of these options.</p>

      <form action="/bpor-login-recovery-answer" method="post">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                What do you want to do?
              </h2>
            </legend>

            <div class="nhsuk-radios" data-module="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints" name="exampleHints" type="radio" value="bpor-phone">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                  Send another code to my phone
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-2" name="exampleHints" type="radio" value="bpor-email">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                  Send a code to my email
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-3" name="exampleHints" type="radio" value="bpor-support">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                  Contact support
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <br>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>

      </form>
    </div>
</div>

{% endblock %}