{% extends 'layout-bpor.html' %}

{% set pageName = "Search for a study" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    <h1>Search for a study</h1>
    
    <!-- NHS Local Search Component -->
    <div class="nhsuk-form-group nhsuk-search-input nhsuk-search-input--large">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--l" for="example">
      Search
    </label>
  </h1>
  <div class="nhsuk-input-wrapper nhsuk-input-wrapper--large nhsuk-search-input__wrapper">
    <input class="nhsuk-input nhsuk-input--large nhsuk-search-input__input nhsuk-input--width-20" id="example" name="example" type="search" autocomplete="off">
    <button class="nhsuk-button nhsuk-button--icon nhsuk-search-input__button" data-module="nhsuk-button" type="submit" aria-label="Search">
      <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
        <path d="m20.7 18.9-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 10.6a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" />
      </svg>
    </button>
  </div>
</div>
{% endblock %}