{% extends "layout-volunteer-bpor.html" %}

{% block beforeContent %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

<span class="nhsuk-caption-l">Question 1 of 5</span>

{% endblock %}

{% block content %}  

  <!-- This form wrapper tells the page to save the data AND where to go next -->
  <form action="/v1/questions/question-1" method="post">

    {{ radios({
      idPrefix: "sex",
      name: "sex",
      fieldset: {
        legend: {
          text: "What's your sex?",
          size: "l",
          isPageHeading: true
        }
      },
      hint: {
        text: "This question is about your sex registered at birth"
      },
      items: [
        { value: "male", text: "Male" },
        { value: "female", text: "Female" }
      ]
    }) }}
    
    {{ radios({
        idPrefix: "gender-same-as-sex",
        name: "genderSameAsSex",
        fieldset: {
          legend: {
            text: "Is the gender you identify with the same as your sex registered at birth?",
            size: "l"
          }
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" },
          { value: "prefer-not-to-say", text: "Prefer not to say" }
        ]
      }) }}

    <!-- The href is REMOVED so it submits the form instead of skipping it -->
    {{ button({
      text: "Continue"
    }) }}

  </form>
{% endblock %}