{% extends "layout-bpor-question.html" %}

{% from "checkboxes/macro.njk" import checkboxes %}
{% from "details/macro.njk" import details %}
{% from "button/macro.njk" import button %}

{% block content %}

  <form action="/v1/questions/question-5" method="post">

    {{ checkboxes({
      idPrefix: "study-types",
      name: "studyTypes",
      fieldset: {
        legend: {
          text: "How much involvement are you comfortable with?",
          size: "l",
          isPageHeading: true
        }
      },
      items: [
        {
          value: "observational",
          text: "Smaller changes to your routine",
          hint: {
            text: "You will not be prescribed any particular medication or treatment, but may need to monitor your health, take tests and send the information to someone."
          }
        },
        {
          value: "interventional",
          text: "Bigger changes to your routine",
          hint: {
            text: "You may need to take certain medication or treatments, monitor your health, take tests and send the information to someone."
          }
        }

      ]
    }) }}

    <!-- Remove the href so the form submits successfully -->
    {{ button({
      text: "Continue"
    }) }}

  </form>

{% endblock %}
