{% extends "layout-bpor-question.html" %}

{% block content %}
  {% from "checkboxes/macro.njk" import checkboxes %}
  {% from "button/macro.njk" import button %}

  {{ checkboxes({
    idPrefix: "health-conditions",
    name: "healthConditions",
    fieldset: {
      legend: {
        text: questionTitle,
        size: "l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply. Some options will reveal more specific choices."
    },
    items: healthConditionItems
  }) }}

  {{ button({
    text: "Continue",
    href: "/v1/questions/question-4"
  }) }}

{% endblock %}