{% extends "layout-bpor-question.html" %}

{% from "checkboxes/macro.njk" import checkboxes %}
{% from "details/macro.njk" import details %}
{% from "button/macro.njk" import button %}

{% block content %}

  {{ checkboxes({
    idPrefix: "study-types",
    name: "studyTypes",
    fieldset: {
      legend: {
        text: "Select what types of studies you are interested in",
        size: "l",
        isPageHeading: true
      }
    },
    items: [
      {
        value: "observational",
        text: "Observational",
        hint: {
          html: details({
            "summaryText": "What does 'observational' mean?",
            "html": "<p>A type of clinical study in which participants are identified as belonging to study groups and are assessed for biomedical or health outcomes. Participants may receive diagnostic, therapeutic, or other types of interventions, but the investigator does not assign participants to a specific interventions/treatment. A patient registry is a type of observational study.</p>"
          })
        }
      },
      {
        value: "interventional",
        text: "Interventional",
        hint: {
          html: details({
            "summaryText": "What does 'interventional' mean?",
            "html": "<p>A type of clinical study in which participants are assigned to groups that receive one or more intervention/treatment (or no intervention) so that researchers can evaluate the effects of the interventions on biomedical or health-related outcomes. The assignments are determined by the study's protocol. Participants may receive diagnostic, therapeutic, or other types of interventions.</p>"
          })
        }
      },
      {
        value: "expanded-access",
        text: "Expanded access",
        hint: {
          html: details({
            "summaryText": "What does 'expanded access' mean?",
            "html": "<p>A way for patients with serious diseases or conditions who cannot participate in a clinical trial to gain access to a medical product that has not been approved by the U.S. Food and Drug Administration (FDA). Also called compassionate use. There are different expanded access types.</p>"
          })
        }
      }
    ]
  }) }}

  {{ button({
    text: "Continue",
    href: "/v1/questions/question-6"
  }) }}

{% endblock %}