{% extends 'layout.html' %}

{% set pageName = "Design Dashboard" %}

{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">
      <h1>
        {{ serviceName }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Be Part of Research / Join Dementia Research</span>
      </h1>
      <p class="nhsuk-body-m">This prototype includes non study management sides of BPOR and JDR. The prototype covers features used both by volunteers and researchers, namely; login, registration, study search and pre-screener.</p>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2>Versions</h2>

    <h3>Study Search</h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Phase 1 (July)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--blue">DESIGN</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">Delivery Plan</h3>
        <ul>
          <li><a href="https://nihr.atlassian.net/wiki/x/AYC7ng">Study Search UX Priority Breakdown </a></li>
          </ul>
        <h3 class="nhsuk-heading-s">Decision log</h3>
        <ul>
          <li><a href="https://nihr.atlassian.net/wiki/pages/resumedraft.action?draftId=2680717317&draftShareId=b515c2b1-f5a1-4541-9688-a99e19ba5ea8">UCD Log</a></li>
        </ul>
        <hr>
        <p><a href="/v1/homepage">V1 Guided Search Journey</a></p>
      </div>
    </details>

    <h3>Login & Registration</h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Phase 1 (July)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--blue">DESIGN</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">Decision log</h3>
        <ul>
          <li>As per the decision on 14/05/2026, the NIHR team acknowledges that the prototypes will not fully reflect the final branded experience until work is completed between the BAU and Project Development teams. Only the header and footers will be BPoR / JDR branded, with main content being stock NHS design system. </li>
          <li>All prototypes will continue with this current agreement until the completion of the work between the BAU and Project Development teams.</li>
        </ul>
        <hr>
        <p><a href="/login/v1/jdr-login-mfa-setup">JDR Login - 2FA Setup</a></p>
        <p><a href="/login/v1/bpor-login-mfa-setup">BPoR Login - 2FA Setup</a></p>
        <hr>
        <p><a href="/login/v1/jdr-homepage">JDR Login</a></p>
        <p><a href="/login/v1/bpor-homepage">BPoR Login</a></p>
        <hr>
        <p><a href="/registration/v1/jdr-homepage">JDR Registration</a></p>
        <p><a href="/registration/v1/bpor-homepage">BPoR Registration</a></p>
      </div>
    </details>

    <h3>Pre-Screener</h3>

        <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              MVP
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <ul>
          <li><a href="https://docs.google.com/presentation/d/1BnP4HIpMezdYYnwUl49emMkZaOIwMOqQ/edit?slide=id.p1#slide=id.p1">Concept Testing (December 2025)</a></li>
          <li><a href="https://docs.google.com/presentation/d/1JASv2LlEdgTexJUl8MvuNGS0ExhfogUp8B_61YrKHtk/edit?slide=id.g3d4613f2d0e_0_30&pli=1#slide=id.g3d4613f2d0e_0_30">Usability Testing (January 2025)</a></li>
        </ul>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li><a href="https://nihr.atlassian.net/wiki/spaces/BBP/pages/2356445220/Volunteer+Pre-Screener+MVP+-+RESCOPE">UCD Log (March 2026)</a></li>
        </ul>
        <hr>
        <p><a href="/pre-screener/v1/email">Invitation Email</a></p>
        <p><a href="/pre-screener/v1/study-overview">Study Overview</a></p>
        <p><a href="/pre-screener/v1/start">Submit pre-screener</a></p>
        <p><a href="/pre-screener/v1/study-closed">Closed to volunteers</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/pre-screener/v1/user-journey"
        }) }}
      </div>
    </details>


  </div>

  <div class="nhsuk-grid-column-one-third key-padding-left">
      <h2>Key</h2>
      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--blue  nhsuk-u-font-size-14">DESIGN</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are still being designed</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-font-size-14">UR</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently with UR for usability testing</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-font-size-14">DEV</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently in development</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--red  nhsuk-u-font-size-14">RETIRED</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version have been retired and replaced with new prototypes and Miro boards</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
