{% extends "layout.html" %}
{% from "back-link/macro.njk" import backLink %}

{% block header %}
<header class="nhsuk-header nhsuk-header--organisation nhsuk-header--white" data-module="nhsuk-header" role="banner">
  <div class="nhsuk-header__container nhsuk-width-container">
    <div class="nhsuk-header__service">
      <a class="nhsuk-header__service-logo" href="/study-search/v1/homepage" aria-label="NHS Anytown Anyplace Anywhere NHS Foundation Trust homepage">
        <img src="/assets/images/BPOR-logo.svg" alt="Logo" class="custom-org-logo">
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:history.back()",
    text: "Go back"
  }) }}
  
  {# This checks if the numbers exist before rendering the text #}
  {% if currentQuestion and totalQuestions %}
    <span class="nhsuk-caption-l">Question {{ currentQuestion }} of {{ totalQuestions }}</span>
  {% endif %}
{% endblock %}

<!-- Added wrapper so any page inheriting this layout swaps NHS Blue for #6C6C6C -->
{% block main %}
<div class="bpor-body-wrapper">
  {{ super() }}
</div>
{% endblock %}