{% extends "layout.html" %}

{% block header %}
<header class="nhsuk-header nhsuk-header--organisation nhsuk-header--white" data-module="nhsuk-header" role="banner">
  <div class="nhsuk-header__container nhsuk-width-container">
    <div class="nhsuk-header__service">
      <a class="nhsuk-header__service-logo" href="/" aria-label="NHS Anytown Anyplace Anywhere NHS Foundation Trust homepage">
        
        <img src="/assets/images/BPOR-logo.svg" alt="Logo" class="custom-org-logo">
      </a>
    </div>
  </div>
 <nav class="nhsuk-header__navigation nhsuk-header__navigation--white" aria-label="Menu">
    <div class="nhsuk-header__navigation-container nhsuk-width-container">
      <ul class="nhsuk-header__navigation-list">
        
        <li class="nhsuk-header__navigation-item{% if currentPath == "/v1/homepage" %} nhsuk-header__navigation-item--current{% endif %}">
          <a class="nhsuk-header__navigation-link" href="/v1/homepage"{% if currentPath == "/v1/homepage" %} aria-current="true"{% endif %}>
            <strong class="nhsuk-header__navigation-item-current-fallback">Home</strong>
          </a>
        </li>

        <!-- 'About us' is now a standard link -->
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">About us</a>
        </li>
        <li class="nhsuk-header__navigation-item{% if currentPath == "/v1/search" %} nhsuk-header__navigation-item--current{% endif %}">
          <a class="nhsuk-header__navigation-link" href="/v1/search"{% if currentPath == "/v1/search" %} aria-current="true"{% endif %}>Find a study</a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">Recruiting to your study</a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">Supporting be part of research</a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">News and features</a>
        </li>
        <li class="nhsuk-header__menu" hidden>
          <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
            <span class="nhsuk-u-visually-hidden">Browse </span>More
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}

<!-- Added wrapper so any page inheriting this layout swaps NHS Blue for #6C6C6C -->
{% block main %}
<div class="bpor-body-wrapper">
  {{ super() }}
</div>
{% endblock %}