<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

<!-- Add custom components -->

{%- from '_components/phase-banner/macro.njk' import nhsukPhaseBanner %}
{%- from '_components/multiselect-search/macro.njk' import searchableCheckboxes %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

<header class="nhsuk-header nhsuk-header--white" role="banner" data-module="nhsuk-header" data-nhsuk-header-init="">
   <div class="nhsuk-width-container bpor-container">
      <div class="bpor-logo-container">
        <a class="nhsuk-header__service-logo" href="/" aria-label="Be Part of Research Logo">
          <img class="nhsuk-header__organisation-logo-BPOR" src="/assets/images/BPOR-logo.svg" width="280" alt="Be Part of Research Logo">
        </a>
      </div>
      <div class="nhs-logo-container">
         <a class="nhsuk-header__service-logo" href="/" aria-label="NHS Logo">
            <svg class="nhsuk-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80" height="40" width="100" focusable="false" role="img" aria-label="NHS">
               <title>NHS</title>
               <path fill="currentcolor" d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z"></path>
            </svg>
         </a>
      </div>
   </div>
</header>

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{% set footerHTML %}
<div class="footer-inner">

    <div class="footer-left">

      <ul class="social-list">
        <li><a href="https://www.linkedin.com/company/nihr-research" aria-label="LinkedIn"><img src="/assets/images/linkedin.svg" alt="LinkedIn Logo" /></a></li>
        <li><a href="https://x.com/NIHRresearch" aria-label="X (formerly Twitter)"><img src="/assets/images/x.svg" alt="X (formerly Twitter) Logo" /></a></li>
        <li><a href="https://en-gb.facebook.com/OfficialNIHR/" aria-label="Facebook"><img src="/assets/images/facebook.svg" alt="Facebook Logo" /></a></li>
        <li><a href="https://www.youtube.com/NIHRtv" aria-label="YouTube"><img src="/assets/images/youtube.svg" alt="YouTube Logo" /></a></li>
        <li><a href="https://www.instagram.com/nihr_research/" aria-label="Instagram"><img src="/assets/images/instagram.svg" alt="Instagram Logo" /></a></li>
      </ul>

      <nav class="policy-links">
        <a href="#">Accessibility statement</a>
        <a href="#">Cookies policy</a>
        <a href="#">Privacy policy</a>
        <a href="#">NIHR 2025</a>
      </nav>
    </div>

    <div class="funded-by">
      <p class="funded-by__label">Funded by</p>
      <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care" aria-label="Department of Health & Social Care"><img class="funded-by__logo" src="/assets/images/DHSC-logo.svg" alt="Department of Health & Social Care Logo" /></a>
    </div>

</div>
{% endset %}

<footer class="bpor-footer-top" role="contentinfo">

  <div class="nhsuk-width-container"><a href="https://www.accessibility-services.co.uk/certificates/nihr-be-part-of-research/"><img src="/assets/images/shaw-trust-logo.svg" alt=""></a></div>

</footer>

<footer class="nhsuk-footer nihr-footer" role="contentinfo">
  <div class="nhsuk-width-container">

  
    <div class="nhsuk-footer__navigation nhsuk-grid-row">
    
      <div class="nhsuk-grid-column-one-quarter">
      
        <h2 class="nhsuk-footer__heading nhsuk-heading-s">Services</h2>
      
      
        <ul class="nhsuk-footer__list">
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/find-a-study">Find a study</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/researchers-and-health-and-care-professionals/Information-for-researchers/">Add my study</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/results/a-z-conditions#">A-Z of conditions</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/glossary/">Glossary</a>
          </li>
        
        </ul>
      </div>
    
      <div class="nhsuk-grid-column-one-quarter">
      
        <h2 class="nhsuk-footer__heading nhsuk-heading-s">Learn</h2>
      
      
        <ul class="nhsuk-footer__list">
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/">What is health and care research?</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/why-taking-part-matters/">Why taking part matters</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/what-to-expect-on-a-study/">What to expect on a study</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/consenting-to-a-study/">Consenting to a study</a>
          </li>

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/complaints">Complaints</a>
          </li>
        
        </ul>
      </div>
    
      <div class="nhsuk-grid-column-one-quarter">
      
        <h2 class="nhsuk-footer__heading nhsuk-heading-s">Site policies</h2>
      
      
        <ul class="nhsuk-footer__list">
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies">All site policies</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/accessibility">Accessibility</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://nihr.us14.list-manage.com/subscribe?u=299dc02111e8a68172029095f&id=3b030a1027">Newsletter</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/cookie-policy">Cookie policy</a>
          </li>

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/freedom-of-information">Freedom of information</a>
          </li>

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/privacy-policy">Privacy policy</a>
          </li>

          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/site-policies/terms-and-conditions">Terms and conditions</a>
          </li>
        
        </ul>
      </div>

      <div class="nhsuk-grid-column-one-quarter">
      
        <h2 class="nhsuk-footer__heading nhsuk-heading-s">Stay connected</h2>
      
      
        <ul class="nhsuk-footer__list">
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/News-and-features/">Blogs</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://bepartofresearch.nihr.ac.uk/get-in-touch">Get in touch</a>
          </li>
        
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/prototype-admin/reset?returnPage=%2Fvolunteer">Reset data</a>
          </li>
        
        </ul>
      </div>
    
    </div>
  

  </div>
</footer>

<footer class="bpor-footer-bottom" role="contentinfo">

  <div class="nhsuk-width-container">
    
    <div class="footer-grid">
      <div class="footer-col">
        <a href="https://www.nihr.ac.uk/"><img src="/assets/images/NIHR-logo.svg" alt=""></a>
      </div>

      <div class="footer-col">
        <a href="http://www.research.hscni.net/"><img src="/assets/images/hsc-logo.svg" alt=""></a>
      </div>

      <div class="footer-col">
        <a href="https://www.nhsresearchscotland.org.uk/"><img src="/assets/images/nhs-scotland-logo.svg" alt=""></a>
      </div>

      <div class="footer-col">
        <a href="https://healthandcareresearchwales.org/"><img src="/assets/images/hcr-wales-logo.svg" alt=""></a>
      </div>
    </div>

  </div>

</footer>


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  <script type="module" src="/assets/javascript/button-menu.js"></script>
  <script type="module" src="/assets/javascript/multi-select-search.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}