<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends "layout-volunteer-jdr.html" if data['brand'] == "JDR" else "layout-volunteer-bpor.html" %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Are you taking Metformin Hydrochloride?" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<form action="medication-1" method="post" novalidate>

{{ radios({
  idPrefix: "medicationQuestion1",
  name: "medicationQuestion1",
  classes: "nhsuk-radios--inline",
  fieldset: {
    legend: {
      text: "Are you taking Metformin Hydrochloride?",
      classes: "nhsuk-fieldset__legend--xl",
      isPageHeading: true
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: data.medicationQuestion1 == "Yes"
    },
    {
      value: "No",
      text: "No",
      checked: data.medicationQuestion1 == "No"
    }
  ]
}) }}

{% call details({
  summaryText: "Other names for Metformin Hydrochloride"
}) %}
  <p>Metformin Hydrochloride is also known as Axpinet, Bolamyn, Diagemet XL, Glucient SR, Glucophage, Glucorex, Glyformin, Jesacrin, Meijumet, Metabet, Metformin Hydrochloride, Metsol, Metuxtan SR, Rudimet, Sukkarto SR, Yaltormin.</p>
{% endcall %}

{{ button({
  text: "Continue"
}) }}

</form>

    </div>
  </div>
{% endblock %}
