<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends "layout-volunteer-jdr.html" if data['brand'] == "JDR" else "layout-volunteer-bpor.html" %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "What does the study involve?" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1 class="nhsuk-u-margin-bottom-4">
  <span role="text">
    END-RNP
    <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden">
        -
      </span>
    Glucose Perception in Type 2 diabetes (Phase 1)
    </span>
  </span>
</h1>

<p class="nhsuk-u-margin-bottom-8"><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">London</strong><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">Hybrid</strong><strong class="nhsuk-tag nhsuk-tag--yellow">Pre-Screener</strong></p>

{{ contentsList({
  items: [
    {
      href: "study-overview",
      text: "Study overview"
    },
    {
      href: "what-does-the-study-involve",
      text: "What does the study involve?"
    },
    {
      text: "Taking part in the study",
      current: "true"
    }
  ]
}) }}

<h2>Taking part in the study</h2>
<p>This study requires you to complete a pre screener to assess your suitability for the study.</p>
<p>To check whether you are eligible for the study and register your interest click the link below</p>

{{ actionLink({
  text: "Click here to apply",
  href: "start"
}) }}

<p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-colour">
          Page last reviewed: 27 March 2018<br>
          Next review due: 27 March 2026
</p>

{{ pagination({
  previous: {
    labelText: "What does the study involve?",
    href: "what-does-the-study-involve"
  }
}) }}

    </div>
  </div>
{% endblock %}
