{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    How much do your conditions affect your daily life?
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

    {{ backLink({
		href: "bpor-enter-medical-conditions",
		text: "Back to: Enter which long-term conditions you have"
	}) }}
{% endblock %}

{% block content %}  
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        {% if errorList and errorList.length %}
			{{ errorSummary({
				titleText: "There is a problem",
				errorList: errorList
			}) }}
		{% endif %}

		<form action="/{{folder}}/{{subfolder}}/bpor-medical-conditions-effects" method="post" novalidate>
            {{ radios({
                name: "effects",
            fieldset: {
                legend: {
                    text: "How much do your conditions affect your daily life?",
                    size: "l",
                    isPageHeading: true
                }
            },
            hint: {
                text: "This includes, for example, making it harder to eat, wash, walk or go shopping."
            },
            errorMessage: errors.effects if errors.effects else null,
            items: [
                {
                    value: "A lot",
                    text: "A lot",
                    checked: data['effects'] == "A lot"
                },
                {
                    value: "A little",
                    text: "A little",
                    checked: data['effects'] == "A little"
                },
                {
                    value: "Not at all",
                    text: "Not at all",
                    checked: data['effects'] == "Not at all"
                },
                {
                divider: "or"
                },
                {
                    value: "Prefer not to say",
                    text: "Prefer not to say",
                    checked: data['effects'] == "Prefer not to say"
                }
            ]
            }) }}
	
			{{ button({
			    text: "Continue"
			}) }}
		</form>
	</div>
</div>
{% endblock %}


