{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    Which of the following best describes your mixed or multiple ethnic groups background?
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

    {{ backLink({
		href: "bpor-ethnic-group",
		text: "Back to: What is your ethnic group?"
	}) }}
{% endblock %}

{% block content %}  
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		{% if errorList and errorList.length %}
			{{ errorSummary({
				titleText: "There is a problem",
				errorList: errorList
			}) }}
		{% endif %}

		<form action="/{{folder}}/{{subfolder}}/bpor-ethnicity-mixed" method="post" novalidate>
            {{ radios({
                name: "bpor-ethnicity-mixed",
                fieldset: {
                    legend: {
                        text: "Which of the following best describes your mixed or multiple ethnic groups background?",
                        size: "l",
                        isPageHeading: true
                    }
                },
                errorMessage: errors.background if errors.background else null,
                items: [
                    {
                        value: "White and Black Caribbean",
                        text: "White and Black Caribbean",
                        checked: data['bpor-ethnicity-mixed'] == "White and Black Caribbean"
                    },
                    {
                        value: "White and Black African",
                        text: "White and Black African",
                        checked: data['bpor-ethnicity-mixed'] == "White and Black African"
                    },
                    {
                        value: "White and Asian",
                        text: "White and Asian",
                        checked: data['bpor-ethnicity-mixed'] == "White and Asian"
                    },
                    {
                        value: "Another mixed background",
                        text: "Another mixed background",
                        checked: data['bpor-ethnicity-mixed'] == "Another mixed background"
                    }
                ]
            }) }}

            {% call details({
                summaryText: "Why we ask this question"
            }) %}
                <p>Studies often want to include people who are representative of the population. Studies sometimes only include people of a specific ethnicity.</p>
            {% endcall %}

			{{ button({
			    text: "Continue"
			}) }}
		</form>

	</div>
</div>
{% endblock %}