{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    Do you want to be considered as a healthy volunteer for research into other conditions?
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

    {{ backLink({
		href: "bpor-medical-conditions-invite",
		text: "Back to: Which conditions would you like to be invited to be part of research in?"
	}) }}
{% endblock %}

{% block content %}  
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		{% if errorList and errorList.length %}
			{{ errorSummary({
				titleText: "There is a problem",
				errorList: errorList
			}) }}
		{% endif %}

		<form action="/{{folder}}/{{subfolder}}/bpor-healthy-volunteer" method="post" novalidate>
			{{ radios({
                name: "healthy-volunteer",
                    fieldset: {
                        legend: {
                        text: "Do you want to be considered as a healthy volunteer for research into other conditions?",
                        size: "l",
                        isPageHeading: true
                    }
			},
			errorMessage: errors.healthyVolunteer if errors.healthyVolunteer else null,
			items: [
				{
                    value: "Yes",
                    text: "Yes",
                    checked: data['healthy-volunteer'] == "Yes"
				},
				{
                    value: "No",
                    text: "No",
                    checked: data['healthy-volunteer'] == "No"
				}
			]
			}) }}

			{{ button({
			    text: "Continue"
			}) }}
		</form>
	</div>
</div>
{% endblock %}