{% set layout = "layout.html" %}

{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    Which of the following best describes your Asian or Asian British background?
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

    {{ backLink({
		href: "bpor-ethnic-group",
		text: "Back to: What is your ethnic group?"
	}) }}
{% endblock %}

{% block content %}  
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		{% if errorList and errorList.length %}
			{{ errorSummary({
				titleText: "There is a problem",
				errorList: errorList
			}) }}
		{% endif %}

		<form action="/{{folder}}/{{subfolder}}/bpor-ethnicity-asian" method="post" novalidate>
            {{ radios({
            name: "bpor-ethnicity-asian",
            fieldset: {
                legend: {
                    text: "Which of the following best describes your Asian or Asian British background?",
                    size: "l",
                    isPageHeading: true
                }
            },
            errorMessage: errors.background if errors.background else null,
            items: [
                {
                    value: "Indian",
                    text: "Indian",
                    checked: data['bpor-ethnicity-asian'] == "Indian"
                },
                {
                    value: "Pakistani",
                    text: "Pakistani",
                    checked: data['bpor-ethnicity-asian'] == "Pakistani"
                },
                {
                    value: "Bangladeshi",
                    text: "Bangladeshi",
                    checked: data['bpor-ethnicity-asian'] == "Bangladeshi"
                },
                {
                    value: "Chinese",
                    text: "Chinese",
                    checked: data['bpor-ethnicity-asian'] == "Chinese"
                },
                {
                    value: "Another Asian or Asian British background",
                    text: "Another Asian or Asian British background",
                    checked: data['bpor-ethnicity-asian'] == "Another Asian or Asian British background"
                }
            ]
            }) }}
            
			{{ button({
			    text: "Continue"
			}) }}
		</form>

        {% call details({
            summaryText: "Why we ask this question"
        }) %}
            <p>Studies often want to include people who are representative of the population. Studies sometimes only include people of a specific ethnicity.</p>
        {% endcall %}
	</div>
</div>
{% endblock %}