{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    What is your home address?
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    	html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

	{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
    }) }}
{% endblock %}

{% block content %}
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set postcode = data['bpor-postcode'] or "WA4 1AB" %}

      <p>5 addresses found for {% if data['jdr-postcode'] %}{{ data['jdr-postcode'] }}{% else %}WA4 1AB{% endif %}. <a href="bpor-find-address">Search again</a></p>

      <form action="/{{folder}}/{{subfolder}}/bpor-select-address" method="post" novalidate>

      {{ radios({
        name: "jdr-select-address",
        fieldset: {
          legend: {
            text: "Select your address",
            size: "l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "1 Roman Rd, Leeds, " + postcode,
            text: "1 Roman Rd, Leeds, " + postcode
          },
          {
            value: "2 Roman Rd, Leeds, " + postcode,
            text: "2 Roman Rd, Leeds, " + postcode
          },
          {
            value: "3 Roman Rd, Leeds, " + postcode,
            text: "3 Roman Rd, Leeds, " + postcode
          },
          {
            value: "4 Roman Rd, Leeds, " + postcode,
            text: "4 Roman Rd, Leeds, " + postcode
          },
          {
            value: "5 Roman Rd, Leeds, " + postcode,
            text: "5 Roman Rd, Leeds, " + postcode
          }
        ]
      }) }}

      {{ button({
        "text": "Use this address"
      }) }}

      </form>

      <div class="nhsuk-form-group">
        <p><a href="bpor-enter-address">Enter your address manually</a></p>
      </div>

    </div>
  </div>
{% endblock %}