{% set layout = "layout.html" %}

{% set layout = "layout-volunteer-bpor.html" %}
{% extends layout %}

{% block pageTitle %}
    You cannot register for Be Part of Research
{% endblock %}

{% block beforeContent %}
    {{ nhsukPhaseBanner({
    tag: {
        text: "Beta"
    },
    html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
    }) }}

    {{ backLink({
		href: "bpor-homepage",
		text: "Back to: Home"
	}) }}
{% endblock %}

{% block content %}  
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        <h1>You cannot register for Be Part of Research</h1>
        
        <p>Be Part of Research only registers people over the age of 18.</p>
	</div>
</div>
{% endblock %}