{% set layout = "layout.html" %}

{% if data['brand'] == "JDR" %}
  {% set layout = "layout-volunteer-jdr.html" %}
{% elseif data['brand'] == "BPOR" %}
  {% set layout = "layout-volunteer-bpor.html" %}
{% endif %}

{% extends layout %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

{% block content %}
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1>Registering to Join Dementia Research</h1>

<p>We need some details so that we can match you with relevant research studies.</p>

<p>Registering is voluntary and you can withdraw your consent at any time. Your medical care will not be affected if you withdraw from research.</p>

<p>By registering, you are giving consent for researchers, NHS staff and partner organisations to access your medical records.</p>

<h2 class="nhsuk-heading-m">Registering someone else for dementia research</h2>

<p>You can only register another person for dementia research if:</p>

<ul>
  <li>they have mental capacity and they have consented to be part of research</li>
  <li>you have Lasting Power of Attorney for health and wellfare (Welfare Power of Attorney in Scotland)</li>
</ul>

<form action="/{{folder}}/{{subfolder}}/jdr-start" method="post" novalidate>

{{ button({
    text: "Register yourself"
}) }}

</form>

<p><a href="#">Register someone else for dementia research</a></p>

<h2 class="nhsuk-heading-m">Before you start</h2>

<p>Make sure you have read the <a href="#">Join Dementia Research volunteer guide</a> and the <a href="#">privacy policy</a>.</p>



    </div>
  </div>
{% endblock %}